<!DOCTYPE html>
<html>

<head>
    <title> YelpCamp </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
<div class="col-lg-3 col-md-3">
    <div class="img-thumbnail">
        <img src="http://www.verticepatagonia.com/sites/default/files/styles/full-width-preface-header-wide/public/dickson-camping-01.jpg?itok=U3vPocaJ"
            class="img-responsive img-thumbnail" width="200" height="200">
        <div class="caption">
            <h4> hidgjlsdg </h4>
            a </div>
    </div>
</div>
<div class="col-lg-3 col-md-3">
    <div class="img-thumbnail">
        <img src="http://www.verticepatagonia.com/sites/default/files/styles/full-width-preface-header-wide/public/dickson-camping-01.jpg?itok=U3vPocaJ"
            class="img-responsive img-thumbnail" width="200" height="200">
        <div class="caption">
            <h4> hidgjlsdg </h4>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3">
    <div class="img-thumbnail">
        <img src="http://www.verticepatagonia.com/sites/default/files/styles/full-width-preface-header-wide/public/dickson-camping-01.jpg?itok=U3vPocaJ"
            class="img-responsive img-thumbnail" width="200" height="200">
        <div class="caption">
            <h4> hidgjlsdg </h4>
        </div>
    </div>
</div>
</div>
</div>

</body>

</html>